@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@200&display=swap");

body {
  /* background-color: #f5b7b7; */
  background-color: black;
  color: white;
  font-family: "Quicksand", sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}

.logo {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 500;
}

.date {
  width: 100%;
  text-align: center;
}

.links {
    background: #000;
}

.links-item,
.links-item:hover,
.links-item:active,
.links-item:focus {
  color: white;
  text-decoration: none;
}

.links-icon {
  font-size: 18px;
}

.links-text {
  margin-top: -10px;
}

.options-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  padding: 0px 0px 0px;
  transition: 0.25s;
}
.options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: overlay;
  min-width: 600px;
  max-width: 900px;
  width: calc(100% - 100px);
  max-height: 66vh;
  color: #000;
}

.option {
  position: relative;
  overflow: hidden;
  min-width: 60px;
  margin: 8px 0;
  background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  padding: 12px;
}
.option.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 600px;
  border-radius: 8px;
  background-size: auto 100%;
}
.option:not(.active) {
  flex-grow: 1;
  border-radius: 8px;
}
.sub {
  margin-top: 14px;
  padding: 0 12px;
  white-space: normal;
  font-size: 18px;
  font-family: "Ysabeau SC", sans-serif;
}
.options .option:not(.active) .sub,
.options .option:not(.active) .info {
  opacity: 0;
  /* width: 0; */
  margin: 0;
}
.options .option.active .info,
.options .option.active .sub {
  opacity: 1;
  width: 100%;
}
.options .option .label {
  display: flex;
  height: 40px;
  /* transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95); */
  align-items: center;
}
.option .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: black;
  color: var(--defaultBackground);
}
.option .info {
  font-weight: bold;
  margin-left: 10px;
  font-size: 1.2rem;
}
.option .info,
.option .sub {
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out, width 0.5s ease-out;
}
@media screen and (max-width: 718px) {
  .options {
    min-width: 520px;
    flex-direction: column;
  }

  .options .option:not(.active) {
    min-height: 62px;
  }
  .options .option.active {
    min-height: 400px;
  }
  .options .option:not(.active) .label .info {
    opacity: 1;
    white-space: nowrap;
    margin-left: 10px;
  }
  .sub {
    max-height: 320px;
    overflow: auto;
  }
}
@media screen and (max-width: 638px) {
  .options {
    min-width: 440px;
  }
}
@media screen and (max-width: 558px) {
  .options {
    min-width: 360px;
  }
}

@media screen and (min-width: 1024px) {
  .option {
    height: 460px;
	margin: 8px;
  }
  .options .option:not(.active) .sub,
  .options .option:not(.active) .info {
    width: 0;
  }
}
.options .option:nth-child(1) {
  --defaultBackground: #B9D6D4;
}
.options .option:nth-child(2) {
  --defaultBackground: #F5F7FB;
}
.options .option:nth-child(3) {
  --defaultBackground: #E8D0CF;
}
.options .option:nth-child(4) {
  --defaultBackground: #C3C0BB;
}
.options .option:nth-child(5) {
  --defaultBackground: #E8DAB9;
}

.options .option:nth-child(6) {
  --defaultBackground: #B9D6D4;
}
