.layout1 {
  --s: 69px;
  --c1: #043645 0;
  --c2: #6bf682 0;

  --g1: conic-gradient(from 45deg at 62.5% 12.5%, #0000 75%, var(--c1));
  --g2: conic-gradient(from -45deg at 12.5% 12.5%, #0000 75%, var(--c1));
  --g3: conic-gradient(from 225deg at 87.5% 87.5%, #0000 75%, var(--c2));
  --g4: conic-gradient(from 135deg at 87.5% 37.5%, #0000 75%, var(--c2));
  background: var(--g4), var(--g4) var(--s) var(--s), var(--g3), var(--g3) var(--s) var(--s), var(--g2),
    var(--g2) var(--s) var(--s), var(--g1), var(--g1) var(--s) var(--s),
    repeating-linear-gradient(135deg, var(--c2) 12.5%, var(--c1) 25%);
  background-size: calc(2 * var(--s)) calc(2 * var(--s));
}

.layout {
  min-height: 100vh;
}

.layout {
  // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: linear-gradient(270deg, #3d558c, #000000, #000000, #a75383);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header {
  width: 100%;
    display: flex;
    align-items: center;
    font-size: 36px;
    padding: 8px;
    font-weight: bold;
    flex-direction: column;
    height: auto;
}

.infoWrap {
  margin-top: 24px;
  border: 1px solid #e0529c;
  border-radius: 14px;
  backdrop-filter: blur(20px);
}
