.layout {
  --s: 69px;
  --c1: #043645 0;
  --c2: #6bf682 0;

  --g1: conic-gradient(from 45deg at 62.5% 12.5%, #0000 75%, var(--c1));
  --g2: conic-gradient(from -45deg at 12.5% 12.5%, #0000 75%, var(--c1));
  --g3: conic-gradient(from 225deg at 87.5% 87.5%, #0000 75%, var(--c2));
  --g4: conic-gradient(from 135deg at 87.5% 37.5%, #0000 75%, var(--c2));
  background: var(--g4), var(--g4) var(--s) var(--s), var(--g3), var(--g3) var(--s) var(--s), var(--g2),
    var(--g2) var(--s) var(--s), var(--g1), var(--g1) var(--s) var(--s),
    repeating-linear-gradient(135deg, var(--c2) 12.5%, var(--c1) 25%);
  background-size: calc(2 * var(--s)) calc(2 * var(--s));
  min-height: 100vh;
}

.header {
  position: sticky;
  top: 0px;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 36px;
  padding: 17px;
  height: 64px;
  font-weight: bold;
  justify-content: center;
}
